[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "extern/doxygen-theme"]
	path = extern/doxygen-theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
